# Brianna Chernenkoff

## Research question/interests

I am planning to look at how different asteroids collide, based on size and speed relative to both the earth's atmosphere. Such that, I will be creating a comparative analysis from all of the different data sets; impacts and NEO Earth Close Approaches and Orbits. I intend to use different plots to visualise the data (examples: scatterplots, lmplots and possibly barplots) to name a few that may be used.

In [10]:
import pandas as pd 
import numpy as np

In [11]:
df_bri_1 = pd.read_csv("../data/raw/impacts.csv")
df_bri_1.head()

,Object Name,Period Start,Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity,Asteroid Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale,Maximum Torino Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31,0
1,2013 YB,2017,2046,23,7.600000e-05,8.98,31.4,0.002,-6.60,-6.96,0
2,2008 US,2017,2062,30,1.600000e-05,18.33,31.4,0.002,-6.48,-6.87,0
3,2010 VR139,2017,2076,24,2.000000e-07,4.99,26.7,0.016,-6.83,-6.95,0
4,2015 ME131,2017,2096,85,2.300000e-08,19.46,19.2,0.497,-3.85,-4.30,0

In [13]:
df_bri_2 = pd.read_csv("../data/raw/NEO_Earth_Close_Approaches.csv")
df_bri_2.head()

,Object,Close-Approach (CA) Date,CA DistanceNominal (au),CA DistanceMinimum (au),V relative(km/s),V infinity(km/s),H(mag),Diameter,Rarity
0,509352 (2007 AG),1900-Jan-04 22:25 ± 00:02,0.00963,0.00962,8.69,8.65,20.2,250 m - 550 m,2.0
1,(2014 SC324),1900-Jan-11 01:07 ± 00:18,0.03997,0.03991,10.65,10.65,24.3,37 m - 82 m,0.0
2,(2012 UK171),1900-Jan-12 23:07 ± 00:13,0.04982,0.04950,7.16,7.15,24.4,34 m - 77 m,0.0
3,4660 Nereus (1982 DB),1900-Jan-29 18:10 ± 00:35,0.02080,0.02077,5.54,5.52,18.6,0.33±0.05 km,2.0
4,(2015 RW83),1900-Feb-04 03:50 ± 14:49,0.03312,0.03258,3.14,3.12,24.1,40 m - 90 m,0.0

In [14]:
df_bri_1 = df_bri_1.describe()
df_bri_1.head()
#describing the first data set being used

,Period Start,Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity,Asteroid Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale
count,683.000000,683.000000,683.000000,6.830000e+02,683.000000,683.000000,683.000000,683.000000,683.000000
mean,2062.573939,2099.680820,43.348463,1.539476e-04,11.462577,26.158272,0.049378,-6.511552,-6.804012
std,43.501694,37.594698,113.773280,2.519607e-03,6.067772,2.388296,0.156403,1.509189,1.476135
min,2017.000000,2017.000000,1.000000,1.100000e-10,0.340000,15.600000,0.002000,-10.980000,-11.000000
25%,2034.000000,2090.000000,2.000000,1.100000e-07,7.240000,25.000000,0.010000,-7.490000,-7.790000

In [15]:
df_bri_2 = df_bri_2.describe()
df_bri_2.head()
#describing the second data set beng used

,CA DistanceNominal (au),CA DistanceMinimum (au),V relative(km/s),V infinity(km/s),H(mag),Rarity
count,35587.000000,35587.000000,35587.000000,35565.000000,35578.000000,35578.000000
mean,0.027909,0.024044,10.419451,10.396344,24.851448,0.363146
std,0.013841,0.014195,5.393878,5.401297,2.656492,0.659037
min,0.000050,0.000000,0.140000,0.220000,13.900000,0.000000
25%,0.016740,0.011835,6.600000,6.570000,23.400000,0.000000

In [19]:
df_bri_1 = df_bri_1.dropna()
df_bri_1.head()

df_bri_2 = df_bri_2.dropna()
df_bri_2.head()
# Dropping any possible NaN values

,CA DistanceNominal (au),CA DistanceMinimum (au),V relative(km/s),V infinity(km/s),H(mag),Rarity
count,35587.000000,35587.000000,35587.000000,35565.000000,35578.000000,35578.000000
mean,0.027909,0.024044,10.419451,10.396344,24.851448,0.363146
std,0.013841,0.014195,5.393878,5.401297,2.656492,0.659037
min,0.000050,0.000000,0.140000,0.220000,13.900000,0.000000
25%,0.016740,0.011835,6.600000,6.570000,23.400000,0.000000